.bg-seccion2 {
  background: #ff512f;
  background: radial-gradient(circle, #dd2476 0%, #ff512f 100%);
}

@media (max-width: 767.98px) {
  #menuHamburguesa {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
