.bg-seccion2 {
  background: #ff512f;
  background: radial-gradient(circle, #dd2476 0%, #ff512f 100%);
}

.bg-seccion-dark {
  background: #662fff;
  background: radial-gradient(circle, #3024dd 0%, #dd2476 100%);
}

.transicion {
  /* Aplica la transición */
  transition: background 2s;
}

.nav-item{
  font-size: 1.3em;
}

.nav-item.active {
  font-size: 1.5em;
  text-shadow: 0.05em 0.05em #b4b4b4;
}

#menuHamburguesa {
  border-radius: 1em;
  padding: 1em;
}

@media (max-width: 480px) {
  #menuHamburguesa {
    position: fixed;
    bottom: 0;
    right: 0;
    /* lo de abajo le da cuerpo al menu */
    background: radial-gradient(circle, #aca9a988 0%, #d6d6d6 100%);
    border-radius: 1em;
    padding: 1em;
  }

  /* este le da tamaño a la lista */
  .nav-item{
    font-size: 1.5em;
  }
  .nav-item.active {
    font-size: 1.5em;
    text-shadow: 0.05em 0.05em #a54b4b;
  }
  /* este esconde el titulo */
  .tituloPag{
    display: none;
  }
}
