.format-container {
  width: 1142px;
  margin: 0 auto;
}


body {/*
  background-color: #000; */

}
.seccion_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.seccion_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.seccion-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
  text-decoration: none;
}
.seccion-item_link:hover,
.seccion-item_link:hover .seccion-item_date {
  text-decoration: none;
  color: #FFF;
}
.seccion-item_link:hover .seccion-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.seccion-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.seccion-item_bg {
  height: 128px;
  width: 128px;
  background-color: var(--bs-danger);

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}



@media only screen and (max-width: 979px) {
  .seccion_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .seccion-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .seccion_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .seccion-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .seccion-item_link {
    padding: 22px 40px;
  }
  .seccion-item_date-box {
    font-size: 16px;
  }
}
