/* estilos para el layout */

/* estilos para navbar responsive y otros */

/* estilos cuando se achica la pantalla */
@media (max-width: 480px) {
    #menuHamburguesa {
      position: fixed;
      bottom: 0;
      right: 0;
      /* lo de abajo le da cuerpo al menu */
      background: radial-gradient(circle, #aca9a988 0%, #d6d6d6 100%);
      border-radius: 1em;
      padding: 1em;
      opacity: 0.9;
      
    }
  
    /* este le da tamaño a la lista */
    .nav-item {
      font-size: 1.5em;
    }
  
    .nav-item.active {
      font-size: 1.5em;
      text-shadow: 0.05em 0.05em #a54b4b;
    }
  
    /* este esconde el titulo */
    .tituloPag {
      display: none;
    }
  
    /* esto deja detras del menuBurger */
    #footer {
      z-index: -5;
    }
  }
  
/* transicion para fondos al aplicar cambios de tema */
.transicion {
    /* Aplica la transición */
    transition: background 2s;
  }

#contenedorImagenes .figure{
  cursor: pointer;
}

#contenedorImagenes .figure:hover{
  opacity: 0.8;
  transition: 0.5s;
}

/**ESTILOS DE LA TABLA**/

#competidores_tabla_filter{
  background-color: var(--bs-red);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#competidores_tabla_filter input{
  background-color: antiquewhite;
}

.dataTables_info, .dataTables_paginate, .dataTables_length {
 margin-top: 10px;
}



.dataTables_length select{
  border-color: var(--bs-red)!important;
}

.paginate_button{
  background-color: antiquewhite !important;
  border-color: var(--bs-red) !important;
}

.paginate_button:hover {
  background-color: #ccc !important;
  color: #fff !important;
}

.paginate_button.current{
  background-color: var(--bs-red) !important;
  color:white !important;
}


.logoHome { 
  transition: 0.3s;
}

.logoHome:hover { 
  transform: scale(1.2);
}

/* CARRUSEL */

.bg-seccion2{
  background: #FF512F;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #DD2476, #FF512F); */  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #DD2476, #FF512F) */; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: radial-gradient(circle, #DD2476 0%,  #FF512F 100%);
}


.bg-carru{
  background: rgb(116,127,244);
  background: radial-gradient(circle, rgba(116,127,244,1) 0%, rgba(148,187,233,1) 100%);
}



/* agregando efecto a los items de carrousel */

.carru-card { transition: 0.3s; }

.carru-card:hover { transform: scale(1.2);cursor: pointer; }

.carru-card:active { transform: scale(1.1); }
/* fin */



@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

@media (min-width: 992px) {
  /* PANTALLA GRANDE*/
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* PANTALLA MEDIANA*/
}
@media (max-width: 767.98px) {
  /* PANTALLA PEQUEÑA*/
}

#botonesBasicos {
 width: 295px;  
}
