
/* Este css falta mejorarlo pq el responsive es medio meh */

@media (min-width: 916px) {
    .mobile{
        display: none;
    }
} 

@media (max-width: 915px) {
    /* Estilos para dispositivos móviles */

    .desktop{
        display: none;
        
    }

    @media (orientation: portrait) {
        /* Estilos para dispositivos móviles en posición vertical */
        .horizontal {
            display: none;

        }
    }

    @media (orientation: landscape) {
        /* Estilos para dispositivos móviles en posición horizontal */
    .vertical {
        display: none;
        overflow-y: hidden;
    }
    }
}

.pulsadorDer, .pulsadorIzq{
    height: 200px;
    user-select: none;
}


.pulsadorIzq{
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
}

.pulsadorDer{
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
}

/* cards de resultado */
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#f09c3d,#f7be70);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 15px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/*BOTONES QUE DEPENDEN DEL RELOJ*/
