
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .wrapper{
        display: inline-flex;
        background: #fff;
        height: 100px;
        width:100%;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        padding: 20px 15px;
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
        margin-bottom: 10px;
      }
      .wrapper .option{
        background: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 10px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0 10px;
        border: 2px solid lightgrey;
        transition: all 0.3s ease;
      }
      .wrapper .option .dot{
        height: 20px;
        width: 20px;
        background: #d9d9d9;
        border-radius: 50%;
        position: relative;
      }
      .wrapper .option .dot::before{
        position: absolute;
        content: "";
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background: #0069d9;
        border-radius: 50%;
        opacity: 0;
        transform: scale(1.5);
        transition: all 0.3s ease;
      }
      input[type="radio"]{
        display: none;
      }
      #idRol1:checked:checked ~ .option-1,
      #idRol2:checked:checked ~ .option-2{
        border-color: #0069d9;
        background: #0069d9;
      }
      #idRol1:checked:checked ~ .option-1 .dot,
      #idRol2:checked:checked ~ .option-2 .dot{
        background: #fff;
      }
      #idRol1:checked:checked ~ .option-1 .dot::before,
      #idRol2:checked:checked ~ .option-2 .dot::before{
        opacity: 1;
        transform: scale(1);
      }
      .wrapper .option span{
        font-size: 20px;
        color: #808080;
      }
      #idRol1:checked:checked ~ .option-1 span,
      #idRol2:checked:checked ~ .option-2 span{
        color: #fff;
      }
